{% extends "admin/layout.html" %}

{% block main %}

<div class="row">
  <div style="width: 40%; margin: 0 auto; margin-top: 20vh;">
    <h1>Login</h1>
    <form method="POST" action="{{url_for("admin.login")}}">
      {{ form.csrf_token }}
      <div class="mb-3">
        {{ form.username.label(class_="form-label") }}
        {{ form.username(class_="form-control") }}
      </div>
      <div class="mb-3">
        {{ form.password.label(class_="form-label") }}
        {{ form.password(class_="form-control") }}
      </div>
      <div class="mb-3 form-check">
        {{ form.remember.label(class_="form-check-label") }}
        {{ form.remember(class_="form-check-input") }}
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>

{% endblock %}
